<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GuobiaoTest</display-name>
  <servlet>
    <servlet-name>GetAlert</servlet-name>
    <servlet-class>web.GetAlert</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>mobile.UploadFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMotor</servlet-name>
    <servlet-class>web.GetMotor</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetExtremum</servlet-name>
    <servlet-class>web.GetExtremum</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetVehicle</servlet-name>
    <servlet-class>web.GetVehicle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetLocation</servlet-name>
    <servlet-class>web.GetLocation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetHistoryMessage</servlet-name>
    <servlet-class>web.GetHistoryMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetStatus</servlet-name>
    <servlet-class>web.GetStatus</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMap</servlet-name>
    <servlet-class>web.GetMap</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllNewestLocation</servlet-name>
    <servlet-class>web.GetAllNewestLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/servlet/UploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAlert</servlet-name>
    <url-pattern>/servlet/GetAlert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMotor</servlet-name>
    <url-pattern>/servlet/GetMotor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetExtremum</servlet-name>
    <url-pattern>/servlet/GetExtremum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetVehicle</servlet-name>
    <url-pattern>/servlet/GetVehicle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetLocation</servlet-name>
    <url-pattern>/servlet/GetLocation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetHistoryMessage</servlet-name>
    <url-pattern>/servlet/GetHistoryMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetStatus</servlet-name>
    <url-pattern>/servlet/GetStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMap</servlet-name>
    <url-pattern>/servlet/GetMap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllNewestLocation</servlet-name>
    <url-pattern>/servlet/GetAllNewestLocation</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>